.container {
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    transition: 0.2s;
}

.container:hover {
    cursor: pointer;
    background-color: rgba(230, 230, 250, 0.3);
}

a{
    text-decoration: none;
}

.container>span {
    color: slategrey;
    font-size: 30px;
}

.container div {
    display: flex;
    flex-direction: column;
}

.container div span {
    font-size: 20px;
    line-height: 22px;
    color: slategrey;
}